h1 {
    color:rgb(255, 255, 255);
    width: 33.33333333333%;
    height: 50px;
    float: left;
    text-align: center;
    font-family: monospace;
    line-height: 50px;
}
#home {
    background-color: #C5A441;
}
#figures {
    background-color: #73ACE6;
}
#people {
    background-color: #83DEFF;
}
body {
    background-color: #6A5A41;
}
img {
    width: 300px;
    height: auto;
    border: 1px solid white;
    border-radius: 8px;
}
.bio-text-box {
    width: 700px;
    display: block;
    font-size: 24px;
    padding-left: 20px;
    color: aliceblue;
}
.bio-container {
    width: 70%;
    display: flex;
    margin:auto;
    margin-bottom: 15px;
}
.home-container {
    width: 1250px;
    height: 1000px;
    display: flex;
    margin: auto;
    background-color: #83DEFF;
}
.about {
    width: 625px;
    height: 950 px;
    margin: left;
    background-color: #c48e37;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 5px;
}
.background {
    width: 625px;
    height: 950 px;
    margin: right;
    background-color: #c48e37;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
}
.about > p {
    width: 100%; 
    margin-left: 10px;   
}
.background > p {
    width: 100%; 
    margin-left: 10px;   
}
#myplot {
    margin: auto;
    background-color: #83DEFF;
    border: 10px solid rgb(228, 13, 13);
    width: 800px;
}

#myplot_2 {
    margin: auto;
    background-color: #83DEFF;
    border: 10px solid rgb(228, 13, 13);
    width: 800px;
}

#myplot_3 {
    margin: auto;
    background-color: #83DEFF;
    border: 10px solid rgb(228, 13, 13);
    width: 800px;
}

#myplot_4 {
    margin: auto;
    background-color: #83DEFF;
    border: 10px solid rgb(228, 13, 13);
    width: 800px;
}